After deploy server on any hosting service you will find a api url, just paste that here then everything will working properly.
as I deploy this admin server on heroku so, my api url like, https://dashtar.herokuapp.com/api



REACT_APP_API_BASE_URL=http://localhost:5000/api
EACT_APP_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/your-cloudinary-username/image/upload
REACT_APP_CLOUDINARY_UPLOAD_PRESET='dfafsd  //use here your upload preset

cloudinary.config({
	cloud_name: process.env.nuvemite-technologies,
	api_key: process.env.522677935532659,
	api_secret: process.env.j6plI0mRe75XEBKh9BwAsdG_NLs
});
